---
// import DarkLightController from '@/components/ui/DarkLightController.astro';
const { mast } = Astro.props;
---

{
  mast && (
    <div class="mast" style={`background-image: url(/masts/${mast})`}>
      {/* <DarkLightController /> */}
    </div>
  )
}

<style>
  .mast {
    height: var(--mast-height);
    /* margin-bottom:30px; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media (min-width: 769px) {
    .mast {
      height: 30vh;
    }
  }
</style>
