---
const {mast} = Astro.props;
---

{ mast && <div class="mast" style={`background-image: url(/masts/${mast})`}></div>}

<style>
    .mast {
  height:240px;
  margin-bottom:30px;
  background-position: center;
  background-repeat:no-repeat;
  background-size:cover;
  @include media('>medium') {
    height:30vh;
  }
}
</style>